.jumbotron{
    background-image: url('../img/jumbotron.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    position: relative;

    .title{
        background-color: $primary_color ;
        color: white;
        position: absolute;
        left:10%;
        bottom: -22px;
        text-align: center;
        padding: 10px 20px;

        h3{
            text-transform: uppercase;
            font-size: 22px;

        }
    }
}

.comics{
    background-color: $secondary_color;
    padding: 40px 0;

    
    .comics-container{
        display: flex;
        flex-wrap: wrap;
        padding: 60px 0;
    }
    
    .comic{
        width: calc(100% / 6);
        padding: 10px;
        .cover{
            height: 200px;
            overflow: hidden;
        }
    
        h4{
            color: white;
            text-transform: uppercase;
            margin-top: 10px;
        }
    }

    .button{
        text-align: center;
        a{
            background-color:$primary_color;
            padding:20px 60px;
            color:white;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: bold;

        }
    }
    
    
}

.blue-section{
    background-color: $primary_color;
}

.blue-menu{
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
    li{
        width: calc(100% / 5);
        display: flex;
        align-items: center;
        span{
            color: white;
            padding-left: 30px;
        }
    }
}

.list-icon{
    height: 60px;
}

.list-icon.power-visa{
    height: 40px;
}


// ---------------------------------------------------------------------------------
// PRODUCT
.single-product {

    .bg-blue {
        height: 100px;
        background-color: $primary_color;
    }

   .container {
        position: relative;

        .product-image {
            position: absolute;
            top: -320px;
            left: 0;
            border: 1px solid #ffffff;
        }

        .info {
            padding: 80px 0;
            justify-content: space-between;

            .info-product {
                width: 60%;

                h1 {
                    color: $secondary_color;
                    text-transform: uppercase;
                    font-size: 26px;
                    padding-bottom: 20px;
                }

                .availability {
                    justify-content: space-between;
                    background-color: #55ba59;

                    .price {
                        width: 55%;
                        color: #bafd9c;
                    }

                    .result-price {
                        color: #ffffff;
                    }

                    .available {
                        width: 20%;
                        text-align: right;
                        border-right: 1px solid #000000;
                        color: #bafd9c;
                        text-transform: uppercase;
                    }

                    .check-availability{
                        width: 25%;
                        color: #ffffff;
                    }

                    

                    .price,
                    .available,
                    .check-availability {
                        padding: 15px;
                    }

                }

                p {
                    padding: 20px 0;
                    font-size: 18px;
                    line-height: 25px;
                    color: gray;
                }
            }

            .adv-image {
                width: 40%;
                text-align: right;

                h3 {
                    color: gray;
                }
            }
        }

        
    }

    .cast {
        background-color: #f6f6f6;
        border-top: 1px solid lightgray;
        padding-top: 60px;
        
        .cast-content {
            justify-content: space-between;
            align-items: baseline;

            .list-title {
                width: 30%;
                color: #003f5e;
            }

            .data-of-product {
                width: 70%;
            }

            h2 {
                color: #003f5e;
            }

            .artist-content {
                width: 50%;

    
                li{
                    display: inline-block;
                    color: #00a9df;
                    font-size: 14px;
                    line-height: 10px;
    
                }
                

                .artist,
                .writers,
                h2 {
                    border-bottom: 1px solid #e3e3e3;
                    padding: 15px 0;
                    
                }
            }

            .info-content {    
                width: 45%;

                .series,
                .price,
                .on-sale,
                h2 {
                    padding: 15px 0;
                    border-bottom: 1px solid #e3e3e3;
                }

                .specs-series {
                    text-transform: uppercase;
                    color: #00a9df;
                }
            }
        }

        .icon-container {
            margin-top: 60px;
            border-top: 1px solid #e3e3e3;

            .icon-product-page {
                

                .single-icon {
                    padding: 10px;
                    color: grey;
                    width: calc(100% / 4);
                    justify-content: space-around;
                    border-left: 1px solid #e3e3e3;

                    &:last-child {
                        border-right: 1px solid #e3e3e3;
                    }

                    h5 {
                        text-transform: uppercase;
                    }
                    

                    #digital-comics,
                    #shop-dc,
                    #comic-shop,
                    #subscription {
                        background-image: url(../img/cta-icons.png);
                        background-repeat: no-repeat;
                        background-size: 180px;
                        height: 45px;
                        width: 45px;
                    }

                    #digital-comics {
                        background-position: 0 0;
                    } 

                    #shop-dc {
                        background-position: -135px 0;
                    }

                    #comic-shop {
                        background-position: -90px 0;
                    }

                    #subscription {
                        background-position: -45px 0;
                    }
                }

               
            }
        }

        
    }
}